@{
    ViewData["Title"] = "CreateProject";
}
@model CreateProject

<h1>CreateProject</h1>

<secion>
    <form>
        <label>
            <p>Name</p>
            <input />
        </label>

        <select>
        @foreach (var item in Model.Category)
        {
        <option>@item.Name</option>
        }
        </select>

        <select>
            @foreach (var item in Model.Type)
            {
                <option>@item.Name</option>
            }
        </select>

        @*<select>
        <ul>
        @foreach (var item in Model)
        {
        <option>
        <li>@item.Category</li>
        </option>
        }
        </ul>
        </select>*@

        @*<select>
        <ul>
        <option>
        <li>
        @Model.
        </li>
        </option>
        </ul>
        </select>*@

        @*<select>
        <option>status</option>
        </select>*@

        <label>
            <p>Description</p>
            <input name="Description" type="text" />
        </label>

        <label>
            <p>Material</p>
            @*<input name="Material" type="text" placeholder="Rune" />*@
        </label>

        @*<label>
        <p>Start date</p>
        <input type="date" />
        </label>*@

        @*<label>
        <p>End date</p>
        <input type="date" />
        </label>*@

        <label>
            <p>Before Image</p>
            <input type="file" />
        </label>

        @*<label>
        <p>After Image</p>
        <input type="file" />
        </label>*@

        <label>
            <p>Sketch</p>
            <input type="file" />
        </label>

        <label>
            <p>Pattern Link</p>
            <input />
        </label>
    </form>
</secion>

