
@{
    ViewData["Title"] = "CreateProject";
}
@model Project;

<h1>CreateProject</h1>

<secion>
    <form>
        <label>
            <p>Name</p>
            <input />
        </label>

        <select>
            <option>hello</option>
        </select>

        <label>
            <p></p>
        </label>
    </form>
</secion>

