@{
    ViewData["Title"] = "CreateProject";
}
@model CreateProject

<h1>CreateProject</h1>

<secion>
    <form>
        <label>
            <p>Project Name</p>
            <input />
        </label>

        <label>
            <p>Project Category</p>
            <select>
                @foreach (var item in Model.Category)
                {
                    <option>@item.Name</option>
                }
            </select>
        </label>

        <label>
            <p>Project Type</p>
            <select>
                @foreach (var item in Model.Type)
                {
                    <option>@item.Name</option>
                }
            </select>
        </label>

        <label>
            <p>Description</p>
            <input name="Description" type="text" />
        </label>

        <label>
            <p>Material List</p>
            @*<input name="Material" type="text" placeholder="Rune" />*@
            <ul>
                @*@foreach (var item in list)
                {
                <li>
                <p>@item.Name</p>
                <p>@item.Amount</p>
                </li>
                }*@
            </ul>
        </label>

        @*<label>
        <p>Start date</p>
        <input type="date" />
        </label>*@

        @*<label>
        <p>End date</p>
        <input type="date" />
        </label>*@

        <label>
            <p>Before Image</p>
            <input type="file" />
        </label>

        @*<label>
        <p>After Image</p>
        <input type="file" />
        </label>*@

        <label>
            <p>Sketch</p>
            <input type="file" />
        </label>

        <label>
            <p>Pattern Link</p>
            <input />
        </label>
    </form>
</secion>

