@{
    ViewData["Title"] = "405";
}

<section class="error-access-denied-page">
    <section class="error-access-denied-wrapper">
        <h2>405</h2>
        <p>Sorry, something went wrong</p>

        <a class="go-back-button" asp-controller="Home" asp-action="Index">
            <div>
                <p>Go To Home Page</p>
            </div>
        </a>
    </section>
</section>
