<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_Manager</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="">
            <a class="" asp-controller="User" asp-action="SignUp">Sign up</a>
            <a class="" asp-controller="User" asp-action="SignIn">Sign In</a>
            <a class="" asp-controller="Project" asp-action="CreateProject">Create Project</a>
            <a class="" asp-controller="Project" asp-action="UpdateProject">Update Project</a>
            <a class="" asp-controller="Home" asp-action="Index">Dashboard</a>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <p>Footer</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
