<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project_Manager</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/lib/icons/logo.svg">
    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/css/typography.css" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/projectCard.css" />
    <link rel="stylesheet" href="~/css//projectPage.css" />
    <link rel="stylesheet" href="~/css/projectForm.css" />
    <link rel="stylesheet" href="~/css/buttons.css" />
    <link rel="stylesheet" href="~/css/userForm.css" />
    <link rel="stylesheet" href="~/css/errors.css" />
</head>
<body>
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <nav>
                <a asp-controller="User" asp-action="SignOutUser">Logout</a>
                <a asp-controller="" asp-action="">Profile</a>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </nav>
        }
    </header>
    <main role="main" class="">
        @RenderBody()
    </main>

    <footer>
        @* <div>
            <p>Footer</p>
        </div> *@
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
