.create-new-project-button {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .create-new-project-button img {
        height: 3rem;
    }

nav a {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
    border: solid black 3px;
    padding: 1rem;
}

.register-redirect-button {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid black 3px;
    padding: 1rem;
    color: var(--black);
}

.sign-in-button {
    background-color: var(--white);
    display: inline-block;
    align-self: center;
    border: none;
    border: solid black 3px;
    padding: 1rem;
}

.sign-up-button {
    background-color: var(--white);
    display: inline-block;
    align-self: center;
    border: solid black 3px;
    padding: 1rem;
}

.go-back-button {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 3px;
    padding: 1rem;
}

.create-project-button {
    background-color: var(--white);
    display: inline-block;
    border: solid black 3px;
    padding: 1rem;
}

.delete-button-container {
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 3px;
    padding: 0.6rem;
}

.delete-project-button {
    background-color: var(--white);
    display: inline-block;
    border: solid black 3px;
    padding: 1rem;
}

.add-material-button {
    display: inline-block;
}

.add-material-button p {
    background-color: var(--white);
    display: inline-block;
    text-align: center;
    border: solid black 3px;
    padding: 0.6rem;
}

.edit-project-button {
    background-color: var(--white);
    display: inline-block;
    border: solid black 3px;
    padding: 1rem;
}


.save-project-changes-button {
    background-color: var(--white);
    display: inline-block;
    border: solid black 3px;
    padding: 1rem;
}

    .edit-project-button:hover, .add-material-button p:hover, .sign-up-button:hover, .save-project-changes-button:hover, .sign-in-button:hover, .create-project-button:hover, .register-redirect-button:hover, .go-back-button:hover, .delete-button-container:hover, .delete-project-button:hover {
        cursor: pointer;
        color: var(--white);
        background-color: var(--black);
    }

nav a:hover {
    cursor: pointer;
    color: var(--white);
    background-color: var(--black);
    border-color: var(--white);
    box-shadow: 8px 8px var(--black);
}

.create-new-project-button:hover {
    cursor: pointer;
}

.edit-project-button, .add-material-button p, .sign-up-button, .save-project-changes-button, .sign-in-button, .create-project-button, nav a, .register-redirect-button, .go-back-button, .delete-button-container, .delete-project-button {
    transition: 0.3s;
}
