:root {
    /*Font Sizes*/
    /*    --p: 1rem;*/
    /*Colors*/
    --black: #271620;
    --white: #FFE1D4;
    --dark-red: #61192C;
    --dark-purple: #4F3744;
    --light-purple: #774C60;
    --dark-pink: #B75D69;
    --light-orange: #FF8C61;
    --light-pink: #FFB499;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier Prime';
    /*font-family: 'Special Elite';*/
    /*font-family: 'Rhodium Libre';*/
    /*color: var(--black);*/
    /*color: var(--white);*/
    /*color: var(--dark-red);*/
    /*color: var(--dark-purple);*/
    /*color: var(--light-purple);*/
    /*color: var(--dark-pink);*/
    /*color: var(--light-orange);*/
    /*color: var(--light-pink);*/
}

html {
    height: 100%;
}

body {
    height: 100%;    
}


footer {
    position: relative;
    bottom: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between
}

main {
    padding: 30px;
}

ul {
    list-style: none;
}

.go-back-button, .edit-button, .delete-button {
    text-decoration: none;
    display: inline-block;
}
