.update-project-page, .create-project-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-project-wrapper, .create-project-wrapper {
    display: flex;
    flex-direction: column;
}

.update-project-form, .create-project-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

    .update-project-form div, .update-project-wrapper a, .create-project-form div, .create-project-wrapper a {
        align-self: center;
    }

.materials-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

    .materials-list li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

.material-container input {
    height: 20px;
}
