.material-acquired-True, .material-acquired-False {
    width: 30px;
    height: 30px;
}

.material-acquired-True {
    background-color: green;
}

.material-acquired-False {
    background-color: red;
}

.project-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.project-info-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-info-material-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}