.material-acquired-True, .material-acquired-False {
    width: 20px;
    height: 20px;
}

.project-info-page {
    display: flex;
    align-items: center;
    justify-content: center;    
}

    .project-info-page a {
        color: var(--black);
    }

    .project-info-wrapper {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        width: 80%;
        padding: 3rem;
    }

.project-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

    .project-button-container div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

.project-info-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: solid black 3px;
    background-color: var(--cream);
    border-radius: 4px;
    width: 100%;
    padding: 3rem 0 5rem 3rem;
}

.project-info-material-list ul li div{
    background-color: var(--black);
}

.project-info-container h4 {
    margin-bottom: 0.3rem;    
}

.project-info-material-list ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-info-material-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    list-style-image: none;
    list-style-position: inside;
    list-style-type: circle;
}

.project-info-material-list li div {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
}

.project-info-description p{
    white-space: pre-wrap;
}

.project-image {
    width: 70%;
}

.pattern-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .pattern-link a {
        text-decoration: underline;
    }