.project-cards-container {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

    .project-cards-container li {
        background-color: var(--ghost-white);
        border: solid var(--black) 3px;
        display: inline-block;
        border-radius: 4px;
        padding: 1rem;
        white-space: nowrap;
    }

.project-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
