.update-project-page, .create-project-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .update-project-page h4, .create-project-page h4 {
        margin-bottom: 0.5rem;
    }

.form-description textarea {
    padding: 1rem;
    resize: none;
}

.form-category select, .form-type select, .form-status select, .form-date input {
    height: 30px;
}

.update-project-wrapper, .create-project-wrapper {
    display: flex;
    flex-direction: column;
    border: solid black 3px;
    background-color: var(--cream);
    border-radius: 4px;
    padding: 3rem;
}

.update-project-form, .create-project-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.form-name input, .material-name, .material-amount {
    width: 250px;
    height: 30px;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.material-amount {
    width: 125px;
}

.material-checkbox {
    width: 18px;
    height: 18px;
}

.update-project-form div, .update-project-wrapper a, .create-project-form div, .create-project-wrapper a {
    align-self: center;
}

.materials-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

    .materials-list li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

.before-image-preview, .after-image-preview, .sketch-image-preview {
    width: 70%;
}
