h1 {
    font-size: 2.7rem;
    font-weight: 100;
}

.project-card h3 {
    font-size: 1.8rem;
}

.update-project-page h3, .create-project-page h3 {
    font-size: 2.7rem;
    margin-bottom: 1.5rem;
}

.update-project-page h4, .create-project-page h4 {
    font-size: 1.5rem;
    text-decoration: underline;
}

.project-card p {
    font-size: 1.2rem;
    font-family: "CourierPrime-Italic";
}

.project-info-container h3 {
    font-size: 3rem;
}

.project-info-container h4 {
    font-size: 1.5rem;
    text-decoration: underline;
}

.project-info-container p, .pattern-link a {
    font-size: 1.2rem;
}

.form-description textarea, .form-date input, .form-category select, .form-type select, .form-status select, .save-project-changes-button, .edit-project-button, .delete-project-button, .create-project-button {
    font-size: 1rem;
}

.sign-in-page h2, .sign-up-page h2 {
    font-size: 3.5rem;
}

.sign-in-form p, .sign-up-form p {
    font-size: 1.4rem;
}

.sign-in-button, .register-redirect-button, .sign-up-button, .go-back-button {
    font-size: 1rem;
}
