.sign-in-page, .sign-up-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
}

.sign-in-form, .sign-up-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign-in-form input, .sign-up-form input{
    width: 250px;
    height: 30px;
    font-size: 1rem;
    padding-left: 0.5rem;
}
