@{
    ViewData["Title"] = "SignIn";
}

<section>

<h1>SignIn</h1>

    @if (TempData["error"] != null)
    {
        <p>@Html.Encode(TempData["error"])</p>
    }

    <form method="post" asp-controller="User" asp-action="SignInUser">
        <label for="Email">
            <p>Email</p>
            <input name="Email" type="email" placeholder="rune@yrgo.se" />
        </label>
        <label for="Password">
            <p>Password</p>
            <input name="Password" type="password" />
        </label>
        <button type="submit" value="SignInUser">Sign In</button>
    </form>

    <a asp-controller="User" asp-action="SignUp">Register Account</a>
</section>

