@{
    ViewData["Title"] = "SignUp";
}
@model Project_Manager.Models.User

<section>

<h2>SignUp</h2>

    @if (TempData["success"] != null)
    {
        <p>@Html.Encode(TempData["success"])</p>
    }
    else if (TempData["error"] != null)
    {
        <p>@Html.Encode(TempData["error"])</p>
    }

    <form method="post" asp-controller="User" asp-action="SignUpUser">
        <label for="Name">
            <p>Name</p>
            <input name="Name" type="text" placeholder="Rune"/>
        </label>
        <label for="Email">
            <p>Email</p>
            <input name="Email" type="email" placeholder="rune@yrgo.se" />
        </label>
        <label for="Password">
            <p>Password</p>
            <input name="Password" type="password" />
        </label>
        <button type="submit" value="SignUpUser">Sign Up</button>
    </form>

    <a asp-controller="User" asp-action="SignIn">Go Back</a>
</section>

