@{
    ViewData["Title"] = "SignIn";
}

<section class="sign-in-page">

    <h2>SignIn</h2>

    @if (TempData["error"] != null)
    {
        <div class="message-error">
            <p>@Html.Encode(TempData["error"])</p>
        </div>
    }

    <form class="sign-in-form" method="post" asp-controller="User" asp-action="SignInUser">
        <label for="Email">
            <p>Email</p>
            <input name="Email" type="email" placeholder="rune@yrgo.se" />
        </label>

        <label for="Password">
            <p>Password</p>
            <input name="Password" type="password" placeholder="password123" />
        </label>

        <button class="sign-in-button" type="submit" value="SignInUser">Sign In</button>
    </form>

    <a class="register-redirect-button" asp-controller="User" asp-action="SignUp">
        <div>
            <p>Create Account</p>
        </div>
    </a>
</section>

