@{
    ViewData["Title"] = "SignUp";
}
@model Project_Manager.Models.User

<section>

    <h2>SignUp</h2>

    @if (TempData["success"] != null)
    {
        <div class="message-success">
            <p>@Html.Encode(TempData["success"])</p>
        </div>
    }
    else if (TempData["error"] != null)
    {
        <div class="message-error">
            <p>@Html.Encode(TempData["error"])</p>
        </div>
    }

    <form method="post" asp-controller="User" asp-action="SignUpUser">
        <label for="Name">
            <p>Name</p>
            <input name="Name" type="text" placeholder="Rune" />
        </label>

        <label for="Email">
            <p>Email</p>
            <input name="Email" type="email" placeholder="rune@yrgo.se" />
        </label>

        <label for="Password">
            <p>Password</p>
            <input name="Password" type="password" />
        </label>

        <button class="sign-up-button" type="submit" value="SignUpUser">Sign Up</button>
    </form>

    <a class="go-back-button" asp-controller="User" asp-action="SignIn">
        <div>
            <p>Go Back</p>
        </div>
    </a>
</section>

