@{
    ViewData["Title"] = "SignIn";
}
@model List<User>

<h1>SignIn</h1>

<section>
    <form asp-action="">
        <label>
            <p>Email</p>
            <input />
        </label>
        <label>
            <p>Password</p>
            <input />
        </label>
        @*<a asp-controller="Home" asp-action="Index">Login</a>*@
        <button>Login</button>
    </form>

    <a asp-controller="User" asp-action="SignUp">Register</a>

    @foreach (var item in Model)
    {
        <p>@item.Name</p>
    }
</section>

