
@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

<section>
    <form>
        <label>
            <p>Name</p>
            <input />
        </label>
        <label>
            <p>Email</p>
            <input />
        </label>
        <label>
            <p>Password</p>
            <input />
        </label>
        <a asp-controller="User" asp-action="SignUp">Login</a>
    </form>
</section>

