@{
    ViewData["Title"] = "SignIn";
}

<h1>SignIn</h1>

<section>

    @if (TempData["error"] != null)
    {
        <p>@Html.Encode(TempData["error"])</p>
    }

    <form method="post" asp-controller="User" asp-action="SignInUser">
        <label for="Email">
            <p>Email</p>
            <input name="Email" type="email" />
        </label>
        <label for="Password">
            <p>Password</p>
            <input name="Password" type="password" />
        </label>
        @*<a asp-controller="Home" asp-action="Index">Login</a>*@
        <button type="submit" value="SignInUser">Sign In</button>
    </form>

    <a asp-controller="User" asp-action="SignUp">Register</a>
</section>

