
@{
    ViewData["Title"] = "SignUp";
}
@model Project_Manager.Models.User

<h1>SignUp</h1>

<section>
    <form method="post" asp-controller="User" asp-action="RegisterUser">
        <label for="Name">
            <p>Name</p>
            <input name="Name" type="text"/>
        </label>
        <label for="Email">
            <p>Email</p>
            <input name="Email" type="email"/>
        </label>
        <label for="Password">
            <p>Password</p>
            <input name="Password" type="password"/>
        </label>
        <a asp-controller="User" asp-action="SignUp">Sign Up</a>
        <button type="submit" value="RegisterUser">Sign Up</button>
    </form>

    <a asp-controller="User" asp-action="SignIn">Back</a>

    @*@using (Html.BeginForm("RegisterUser", "User", FormMethod.Post))
    {
        <label for="Name">Name:</label>
        @Html.TextBoxFor(u => u.Name)

        <label for="Email">Email:</label>
        @Html.TextBoxFor(u => u.Email)

        <label for="Password">Password:</label>
        @Html.TextBoxFor(u => u.Password)

        <input type="submit" value="RegisterUser">
    }*@
</section>

