
@{
    ViewData["Title"] = "SignIn";
}

<h1>SignIn</h1>

<section>
    <form asp-action="">
        <label>
            <p>Email</p>
            <input />
        </label>
        <label>
            <p>Password</p>
            <input />
        </label>
        @*<a asp-controller="Home" asp-action="Index">Login</a>*@
        <button>Login</button>
    </form>
</section>

