@*@using PassDatainMVC.Models*@
@*@model Project_Manager.Models.Category*@
@model List<Category>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @foreach (var item in Model)
    {
        <div>@item.Name</div>
    }
</div>
